h1{
    color: red;
}
h2{
    font-size: 34px;
    color: rgb(156, 4, 156);
}
h3{
    font-size: 30px;
    color: rgb(7, 145, 147);
}
h4{
    font-size: 26px;
    color: rgb(143, 6, 130);
}
h5{
    font-size: 24px;
    color: orangered;
}
h6{
    font-size: 20px;
    color: red;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    padding-top: 1.5%;
}


/*  */
.text{
    width: 90%;
    margin: 0 auto;
    font-size: 19px;
}
p{
    font-size: 20px;
    margin: 1%;
    text-indent: 35px;
    line-height: 1.4;
}
.p{
    font-size: 19px;
}
.centr{
    text-align: center;
    margin: 0 auto;
}

.red{
    color: red;
}

/* AUDIO SŁOWO */

.playable {
      cursor: pointer;
      color: blue;
      text-decoration: underline;
      margin: 1px;
      display: inline-block;
    }